/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Lexend Mega', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    color: white;
    box-sizing: border-box;
    background: url('/mywebsiteImages/programmin1.jpg') no-repeat;
    /* background: url('/mywebsiteImages/programmin1.jpg'); */
    background-size: cover;
    background-position: top center;
    position: relative;
}



body::after {
    min-width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: .7;
    z-index: -1;
}





a {
    text-decoration: none;
    font-size: 1em;
    font-weight: bolder;
    color: white;
}

.flex-container {
    height: 100vh;
    min-width: 100%;
    display: flex;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.flex-container .profile {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    background-color: rgba(10, 10, 10, 0.338);
}

.flex-container .navbar {
    height: 100%;
    max-width: 15%;
    padding: 5px;
    align-self: center;
    justify-self: flex-start;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
    background-color: rgba(10, 10, 10, 0.433);
    cursor: pointer;
}



.flex-container .navbar img {
    max-width: 50px;
    height: 50px;
}







.flex-container .profile div {
    position: absolute;
    margin: auto;
    max-width: 100%;
    /* background-color: rgba(15, 15, 15, 0.103); */
}






#femi {
    margin-bottom: 2em;
    margin-left: -.39em;
}

#femi b {
    font-size: 3em;
    color: crimson;
}
.job_display_item div h4 b{
    font-size: 3em;
    color: crimson;
}



#phone {
    display: inline-block;
    font-weight: bold;
}

#mail2 {
    display: inline-block;
    background-color: rgba(0, 0, 255, 0.24);
    font-weight: bold;

}

#title {
    display: inline-block;
    font-weight: bold;


}


.mail_overlay {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(14, 13, 13, 0.726);
    opacity: .9;
    z-index: 2;
    overflow: hidden;
}

.jobs_overlay {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.661);
    z-index: 2;
    /* cursor: pointer; */
    overflow: hidden;
}
.exit{
    color:red;
    cursor: pointer;
}
.job_display {
    width: 100%;
    height: 100%;
}
.job_display_item{
    width: 80%;
    max-height: 20em;
    margin: 1em;
    background-color:rgba(0, 0, 0, 0.699);
    padding:1em;
    border-radius: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
 .job_display_item button{
    width: 7em;
    height: 2.2em;
    padding:.1em;
    border-radius: .4em;
    border: none;
}

.job_display_item button{
    border: 1px solid rgb(250, 248, 248);
}
.job_display_item button:hover {
    border: 1px solid rgb(198, 6, 6);
}






.skills_overlay {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.712);
    z-index: 2;
    cursor: pointer;
    overflow: hidden;
}

.skills_overlay p {
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.363);
    margin: 0px auto;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}


.contact-form {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

form {
    height: auto;
    padding: 20px 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

form .form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}



form textarea {
    outline: none;
    max-height: 100px;
    width: 20em;
    text-align: center;
    border: 1px solid rgb(253, 130, 85);
    border-radius: 16px;
    background-color: rgb(7, 7, 7);
    color: white;
    font-weight: bold;
    font-size: 1em;
}

.form-input input[type="text"],
.form-input input[type="email"] {

    margin: 10px;
    outline: none;
    height: 4em;
    width: 20em;
    text-align: center;
    border: 1px solid rgb(255, 217, 0);
    border-radius: 16px;
    background-color: rgb(7, 7, 7);
    color: white;
    font-weight: bold;
    font-size: .7em;
    transition: .25s;
}

.form-input input[type="text"]:focus,
.form-input input[type="email"]:focus {
    transform: scale(1.25);
}







.button {
    height: 2.5em;
    width: 7em;

    border-radius: 16px;
    background-color: transparent;
    letter-spacing: .1em;
    font-weight: 500;
    font-size: 1em;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    transition: .25s ease-in;
}

.submit {
    border: 1px solid green;
}

#cancel {
    border: 1px solid rgb(72, 65, 65);
}

.submit:hover {
    background-color: rgba(4, 247, 4, 0.623);

}

span #cancel:hover {
    background-color: rgba(255, 0, 0, 0.63);
}






/* skills slider */

.wrapper {

    position: relative;
    width: 400px;
    margin: 200px auto;
    perspective: 3000px;
}


.image-area {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(-360deg) translateZ(-300px);
    animation: animate 40s steps(10000, end) infinite;
}


.single-img {

    position: absolute;
    top: 15px;
    left: 10px;
    height: 200px;
    width: 100px;
}



.single-img img {
    width: 100px;
    height: 200px;
}









.single-img.automation {

    transform: rotateY(355deg) translateZ(300px);

}

.single-img.siemens {

    transform: rotateY(22deg) translateZ(300px);

}

.single-img.rockwell {

    transform: rotateY(44deg) translateZ(300px);

}


.single-img.raspberry {

    transform: rotateY(66deg) translateZ(300px);

}


.single-img.arduino {

    transform: rotateY(88deg) translateZ(300px);

}

.single-img.aspnet {

    transform: rotateY(110deg) translateZ(300px);

}

.single-img.csharp {

    transform: rotateY(132deg) translateZ(300px);

}

.single-img.TIA {

    transform: rotateY(160deg) translateZ(300px);

}
.single-img.javacript {

    transform: rotateY(196deg) translateZ(300px);

}



.single-img.jquery {

    transform: rotateY(222deg) translateZ(300px);

}

.single-img.mern {

    transform: rotateY(242deg) translateZ(300px);

}

.single-img.mysql {

    transform: rotateY(262deg) translateZ(300px);

}

.single-img.GIT {

    transform: rotateY(286deg) translateZ(300px);

}

.single-img.niceMongoDB {

    transform: rotateY(308deg) translateZ(300px);

}










@keyframes animate {


    from {
        transform: rotateY(-360deg);
    }

    to {
        transform: rotateY(0deg);
    }

}