/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Lexend Mega', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    color: white;
    background: url('/mywebsiteImages/programmin1.jpg') no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
}



body::after {
    min-width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: .6;
    z-index: -1;
}





a {
    text-decoration: none;
    font-size: 1em;
    font-weight: bolder;
    color: white;
}


.flex-container {
    height: 100vh;
    min-width: 100%;
    display: flex;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.flex-container .navbar {
    height: 100%;
    width: 80px;
    padding: 5px;
    align-self: center;
    justify-self: flex-start;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
    background-color: rgba(10, 10, 10, 0.719);
    cursor: pointer;
}

.flex-container .navbar img {
    width: 70px;
    height: 50px;
}


.flex-container .profile {
    width: 80%;
    height: 100%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#femi {
    margin-bottom: 2em;
    margin-left: -.39em;
}

#femi b {
    font-size: 3em;
    color: crimson;
}




#phone {
    display: inline-block;
    font-weight: bold;
}

#mail2 {
    display: inline-block;
    background-color: rgba(0, 0, 255, 0.24);
    font-weight: bold;

}

#title {
    display: inline-block;
    font-weight: bold;


}







.mail_overlay {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(14, 13, 13, 0.726);
    opacity: .9;
    z-index: 2;

    overflow: hidden;
}


.skills_overlay {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.712);
    z-index: 2;
    cursor: pointer;
    overflow: hidden;
}

.skills_overlay p {
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.363);
    margin: 0px auto;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* margin-bottom: 6em; */

}


.mail_overlay div {

    max-width: 80%;
    height: 100%;
    margin: auto;


}

form {
    margin-top: 10px;
    width: 50%;
    height: 100%;
    display: grid;
}



.mail_overlay div form textarea,
button {
    padding: 2px;


    background-color: transparent;
    padding: 20px;
    font-weight: bold;
    color: white;
    font-size: 1em;

}

.mail_overlay div form input[type="text"] {
    height: 50px;
    padding: 2px;
    background-color: transparent;

    font-weight: bold;
    color: white;
    font-size: 1em;
}

.mail_overlay div form input[type="email"] {
    padding: 2px;
    height: 50px;

    background-color: transparent;

    color: white;
    font-weight: bold;
    font-size: 1em;

}


.button {
    width: 120px;
    height: 60px;
    border: 3px solid white;
    background-color: transparent;
    letter-spacing: .1em;
    font-weight: bold;
    font-size: 1em;
    color: white;
    margin-top: 5px;
    cursor: pointer;
}







/* skills slider */

.wrapper {

    position: relative;
    width: 320px;
    margin: 150px auto;
    perspective: 2000px;
    /* overflow: hidden; */
}


.image-area {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(-360deg) translateZ(-300px);
    animation: animate 40s steps(10000, end) infinite;
}


.single-img {

    position: absolute;
    top: 15px;
    left: 10px;
    /* width: 300px; */
    height: 200px;
    width: 100px;
}



.single-img img {

    /* width: 300px; */
    width: 200px;
    height: 200px;
    /* border: 5px solid #fff; */

}









.single-img.automation {

    transform: rotateY(1deg) translateZ(300px);

}

.single-img.siemens {

    transform: rotateY(22deg) translateZ(300px);

}

.single-img.rockwell {

    transform: rotateY(44deg) translateZ(300px);

}


.single-img.raspberry {

    transform: rotateY(66deg) translateZ(300px);

}


.single-img.arduino {

    transform: rotateY(88deg) translateZ(300px);

}

.single-img.aspnet {

    transform: rotateY(110deg) translateZ(300px);

}

.single-img.csharp {

    transform: rotateY(132deg) translateZ(300px);

}

.single-img.javacript {

    transform: rotateY(154deg) translateZ(300px);

}



.single-img.jquery {

    transform: rotateY(176deg) translateZ(300px);

}

.single-img.vuejs {

    transform: rotateY(198deg) translateZ(300px);

}

.single-img.mern {

    transform: rotateY(222deg) translateZ(300px);

}

.single-img.mysql {

    transform: rotateY(242deg) translateZ(300px);

}

.single-img.GIT {

    transform: rotateY(264deg) translateZ(300px);

}

.single-img.niceMongoDB {

    transform: rotateY(286deg) translateZ(300px);

}

.single-img.reactNative {

    transform: rotateY(308deg) translateZ(300px);

}


.single-img.python {

    transform: rotateY(330deg) translateZ(300px);

}





@keyframes animate {


    from {
        transform: rotateY(-360deg);
    }

    to {
        transform: rotateY(0deg);
    }

}