* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    color: white;
    background-color: black;


}

a {
    text-decoration: none;
    font-size: 1em;
    font-weight: bolder;
    color: rgb(56, 49, 51);
}

ul {
    padding: 0%;
    margin: 0;
}

li {
    list-style: none;
}




.flex-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: url('https://as2.ftcdn.net/jpg/01/81/43/43/500_F_181434317_p7EWE0SlwBWQhphzrIBp0rYH8gL3jL2O.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;

}

.flex-container::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 16, 16, 0.507);
    z-index: -1;

}


#display-profile {
    min-width: 25%;
    min-height: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;

}







/* skillss.............. */
#skills {
    position: absolute;
    right: 10px;
    top: 2px;
    min-height: 100%;
    max-width: 20%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}








#skills img {

    width: 100%;
    height: 70px;
    border-radius: 10px;

}






.display .button {

    border: 4px solid rgb(243, 236, 237);
    padding: 10px 15px;
    letter-spacing: .1em;
    color: white;
}




.display .button:hover {
    border: 4px solid rgba(220, 20, 60, 0.671);
}



@keyframes text_color {
    0% {
        color: transparent;
    }

    100% {
        color: white;

    }
}

@keyframes welcome_message {
    0% {

        width: 100%;
        left: 0%;

    }

    100% {
        left: 100%;
        width: 0%;
    }
}